    <%-include('includes/header')%>
    <h2>
        Nova Categoria:
        <a href="/admin/categorias">Categorias</a>
    </h2>
    <div>
        <form method="POST">
            <input name="name"/>
            <button type="submit">Criar</button>
        </form>
    </div>
    <%-include('includes/footer')%>